@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: "circe-bold";
    src: url(../fonts/circe-bold.ttf);
}

@font-face {
    font-family: "Euclid Circular A - light";
    src: url(../fonts/Euclid\ Circular\ A\ Light.ttf);
}

@font-face {
    font-family: "Euclid Circular A - bold";
    src: url(../fonts/Euclid\ Circular\ A\ Bold.ttf);
}

:root {
    --font: 'Roboto', sans-serif;
    --main-color: #292D32;
    --gray-color: #838383;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0 auto;
    font-family: var(--font);
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

.wrapper {
    padding: 15px;
}

.header-menu,
.header-menu-burger {
    display: none;
}

.header-menu-burger a li {
    margin-bottom: 45px;
    text-transform: uppercase;
}

.header-contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden {
    display: none !important
}

.icons-contain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipse-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    background-color: #F9F9F9;
    border-radius: 50%;
    margin: 0 5px;
}

.transparent {
    background-color: #ffffff00;
}

.ellipse-header img {
    max-width: 100%;
    max-height: 100%;
}

.overlay {
    position: absolute;
    top: 92px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3F3F3F80;
    backdrop-filter: blur(3px);
    display: none;
    z-index: 3;
}

.burger {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.burger span,
span::after,
span::before {
    display: block;
    position: absolute;
    width: 18px;
    height: 1.9px;
    background-color: var(--main-color);
    margin-bottom: 6px;
    border-radius: 2px;
    transition: transform 0.3s ease-in-out;
}

.burger span {
    top: 7px;
    right: -10px;
}

.burger span::after {
    content: "";
    top: -8px;
    right: 0;

}

.burger span::before {
    content: "";
    top: -16px;
}

#burger-checkbox {
    display: none;
}

#burger-checkbox:checked~.burger span {
    transform: rotate(45deg);
    top: 0;
    transition: all 0.3s;
}


#burger-checkbox:checked~.burger span:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 1.5px;
    background-color: var(--main-color);
    transform: rotate(90deg);
    top: 0;
    transition: all 0.3s;
}

#burger-checkbox:checked~.burger span:after {
    visibility: hidden;
}

#burger-checkbox:checked~.header-menu-burger {
    display: inline;
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding-top: 40px;
    z-index: 999;
}

#burger-checkbox:checked~.overlay {
    display: block;
}

.blue-ellipse {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #48A4EB;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    padding: 1px 4px 1px 5px;
    top: 22px;
    right: 77px;
    font-size: 12px;
    font-weight: 700;
}

.second-section {
    background-color: #F2F2F2;
}

.new-arrival-img {
    text-align: center;
}

.new-arrival {
    margin-bottom: 28px;
}

.caption {
    display: block;
    font-size: 30px;
    font-weight: 400;
    color: var(--main-color);
    margin-bottom: 20px;
}

.subtitle {
    display: block;
    font-size: 15px;
    color: var(--gray-color);
    font-weight: 300;
    margin-bottom: 30px;

}

.new-arrival p {
    margin: -17px 0 5px 0;
}

.circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: "circe-bold";
    width: 45px;
    height: 45px;
    font-size: 18.74px;
    font-weight: 700;
    background-color: #33A9FF;
    border-radius: 50%;
    color: #fff;
    margin-right: 15px;
    border: none;
}

.more {
    color: var(--main-color);
}

.slider {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 20%;
    height: 100%;
}

.dots {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 60%;
    transform: translateX(-50%);
}

.dot {
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #D0D0D0;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: var(--main-color);
    width: 5px;
    height: 5px;
}

.next {
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translateY(-50%);
    font-size: 24px;
    color: gray;
    cursor: pointer;
}

.third-section {
    background-color: #F9F9F9;
}

.good-offer {
    display: flex;
    position: relative;
}

.good-offer p {
    font-size: 20px;
    font-weight: 400;
    width: 136px;
    margin: 44px 0;
    color: var(--main-color);
}

.good-offer img {
    position: absolute;
    right: -11px;
}

.title-product-catalog {
    margin-bottom: 30px;

}

.title-product-catalog p {
    margin: 105px 96px 20px 0;
}

/* .title-product-catalog span {
    display: block;
    font-size: 15px;
    font-weight: 300;
    color: var(--gray-color);
    margin-right: 10px;
    line-height: 22.5px;
    margin-bottom: 30px;
} */

.in-catalog {
    margin-bottom: 40px;
}

.card-catalog {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 345px;
    height: 275px;
    border-radius: 10px;
    background-color: #EEEEEE;
    padding: 15px 20px;
    margin-bottom: 21px;
}

.card-catalog p {
    font-size: 20px;
    font-weight: 100;
    color: var(--main-color);
    margin-bottom: 0;
    margin-top: 5px;
}

.quantities-product {
    display: block;
    font-size: 15px;
    font-weight: 300;
    color: var(--gray-color);
    margin-bottom: 2px;
}

.name-product {
    display: block;
    font-size: 20px;
    font-weight: 400;
    color: var(--main-color);
}

.card-catalog img {
    position: absolute;
}

.second-img {
    top: 7px;
    right: 22px;
}

.third-img {
    top: 73px;
    right: 46px;
}

.four-img {
    top: 44px;
    right: 62px;
}

.five-img {
    top: 26px;
    right: 22px;
}

.card-contain {
    margin-bottom: 105px;
}

.five-section {
    background-color: #F2F2F2;
}

.title-benefits p {
    margin-top: 86px;
}

.title-benefits span {
    margin-right: 9px;
}

.crossing span {
    display: inline;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: var(--main-color);
}

.title-benefits {
    margin-bottom: 35px;
}

.img-benefits {
    display: flex;
    position: relative;
}

.img-benefits img:nth-child(2) {
    position: absolute;
    top: -92px;
    right: -15px;
}

.contain-3 {
    margin-bottom: 23px;
}

.dark-card-icons {
    display: flex;
    justify-content: space-between;
}

.img-wrapp {

    width: 50px;
    height: 50px;
    background-color: #343A41;
    border-radius: 9px;
    margin: 15px;
    padding: 10px 9px 9px 10px;
}

.dark-card {
    width: 345px;
    border-radius: 10px;
    background-color: var(--main-color);
    margin-bottom: 20px;
}

.about-dark-card {
    padding: 0 11px 15px 15px;
}

.about-dark-card p {
    font-family: "Euclid Circular A - bold";
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-top: 0;
}

.about-dark-card span {
    font-family: "Euclid Circular A - light";
    font-size: 16px;
    font-weight: 300;
    color: #B7B7B7;
    line-height: 20px;
}

.dark-card-contain {
    margin-bottom: 105px;
}

.contain-title p {
    margin-top: 105px;
}

.contain-all-news {
    margin-bottom: 40px;
}

.dark {
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    font-weight: 700;
    font-size: 18px;
    margin-right: 0;
}

.image-news img {
    border-radius: 45px 0;

}

.six-section {
    background-color: #fff;
}

.card-news {
    position: relative;
    height: 293px;
    box-shadow: 0px 40px 80px 0px #0000000D;
    margin-bottom: 20px;
    width: 324px;
    border-radius: 45px 0;

}

.title-news {
    position: absolute;
    top: 133px;
    background-color: white;
    border-radius: 0 82px 0 0;
    width: 248px;
    padding: 20px;
}

.title-news p {
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    color: var(--main-color);
    margin-bottom: 5px;
}

.title-news span {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.data-news {
    width: 39px;
    height: 76px;
    background-color: #fff;
    position: absolute;
    right: -17px;
    top: 51px;
    text-align: center;
    border-radius: 15px;
    padding: 21px 1.21px;
}

.data-news p {
    margin: 0;
    font-weight: 300;
}

.data-news p:first-child {
    font-weight: 700;
}

.lets-news {
    position: absolute;
    top: 159px;
    right: 15px;
}

.seven-section {
    background-color: #F9F9F9;
}

.contain-contact-title {
    display: flex;
}

.contain-contact-title img {
    margin-right: 9px;
}

.contain-contact-title span {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: var(--gray-color);
}

.contacts p {
    margin-left: 28px;
    font-size: 18px;
    font-weight: 400;
    color: var(--main-color);
    margin-top: 5px;
    margin-bottom: 8px;
}

.contacts {
    margin-bottom: 30px;
}

.seven-section {
    background-color: #F9F9F9;
}

.our-contacts {
    margin-top: 86px;
}

.contacts img {
    margin-right: 13px;
}

.phone-banner {
    position: relative;
    text-align: end;
}

.phone-banner img {
    position: absolute;
    top: -181px;
    right: 0;
}

.white {
    color: #FFFFFF;
}

.form {
    background-color: var(--main-color);
}

.white-light {
    color: #F2F2F2 !important
}

.inrut-form {
    background-color: #ffffff00;
    border: 1px solid #8E9092;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    color: #F2F2F2;
    width: 100%;
}

.inputs {
    position: relative;
    margin-bottom: 45px;
}

.label-input {
    position: absolute;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    background-color: var(--main-color);
    padding: 8px 8px 0 8px;

}

.label-name {
    top: -21px;
    left: 16px;
}

.label-number {
    top: 48px;
    left: 16px;
}

#comm {
    background-color: #ffffff00;
    border-radius: 10px;
    width: 100%;
    color: #F2F2F2;
    margin-bottom: 30px;

}

.label-comm {
    left: 16px;
    top: 112px;
}

.contain-img {
    text-align: center;
    margin-top: 30px;
    margin-top: 28px;
}

.footer {
    background-color: #F2F2F2;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.footer-list ul {
    padding: 0;
}

.name-section {
    font-weight: 700 !important;
    margin-bottom: 15px;
}

.footer-list ul a li {
    color: var(--main-color);
    font-weight: 300;
    margin-bottom: 10px;
}

.last-list {
    width: 78%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-list {
    width: 123px;
}

.contacts-footer p {
    margin-top: 0;
    color: var(--main-color);
}

.footer-icons {
    display: flex;
}

.social-media {
    display: flex;
}

.social-media img {
    margin-right: 30px;
}

.logo-footer {
    position: relative;

}

.logo-footer img {
    position: absolute;
    top: -21px;
    left: 31px;
}

.hidden-card {
    display: none;
}

.back-section {
    display: none;
}

.account-menu {
    display: none;
}


@media screen and (min-width:1920px) {
    .wrapper {
        padding: 37px 260px;
    }

    .header-menu-contain {
        display: flex;
        align-items: center;
    }

    .header-menu {
        display: inline;
        margin-left: 60px;
        padding: 0;
    }

    .account-menu {
        display: none;
        position: absolute;
        top: 98px;
        right: 440px;
        width: 405px;
        background-color: white;
        padding: 30px;
        z-index: 9;
        border-radius: 20px;
        box-shadow: 0px 1.7530173063278198px 9.39116382598877px 0px #00000011;
        box-shadow: 0px 14px 75px 0px #00000021;

    }

    .ellipse-inside {
        display: inline-flex;
        margin: 0 10px 0 0 !important;
    }

    .account-menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .account-menu ul li {
        margin-bottom: 40px;
    }

    .account-menu ul li a {
        text-decoration: none;
        color: black;
    }

    .account:hover .account-menu {
        display: block;
    }

    .account:focus .account-menu {
        display: block;
    }

    .header-menu a li {
        display: inline-block;
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        margin-right: 45px;
    }

    .hidden {
        display: flex !important;
    }

    .hidden-desk {
        display: none;
    }

    .bag {
        position: relative;
    }

    .blue-ellipse {
        top: -2px;
        right: 0;
    }

    .ellipse-header {
        margin: 0 30px;
    }

    .contain {
        display: flex;
        height: 683px;
    }

    .new-arrival-img img {
        width: 766px;
    }

    .second-section__wrapper {
        display: flex;
        position: relative;
        height: 100%;
    }

    .slider {
        position: absolute;
        width: 43.6%;
        height: 557px;
        right: -42px;
    }

    .slider img {
        height: 555px;
        width: 557px;
    }

    .dot.active {
        width: 9px;
        height: 9px;
    }

    .dot {
        width: 5px;
        height: 5px;
    }

    .dots {
        bottom: 127px;
        left: 85%;
    }

    .third-section__wrapper {
        padding: 0;
    }

    .third-section {
        width: -webkit-fill-available;
    }

    .good-offer img {
        width: -webkit-fill-available;
    }

    .good-offer p {
        position: absolute;
        top: 313px;
        left: 46px;
    }

    .next img {
        width: 61px;
        position: absolute;
        height: 10px;
        right: -14px;
        top: -4px;
    }

    .card-contain {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 149px;

    }

    .title-product-catalog {
        width: 440px;
        height: 380px;
    }

    .card-catalog {
        width: 440px;
        height: 380px;
        background-color: #F2F2F2;
        padding: 40px;
    }

    .light {
        background-color: #F9F9F9;
    }

    .caption {
        font-size: 50px;
        font-weight: 400;
        line-height: 50px;
        width: 400px;
    }

    .subtitle {
        font-size: 18px;
        font-weight: 300;
        line-height: 27px;
    }

    .circle {
        width: 55px;
        height: 55px;
    }

    .title-product-catalog p {
        margin-top: 24px;
    }

    .more {
        font-size: 16px;
    }

    .card-catalog p {
        font-size: 25px;
    }

    .quantities-product {
        font-size: 18px;
    }

    .name-product {
        font-size: 25px;
    }

    .first-img {
        width: 415px;
        top: 0;
        right: 16px;
    }

    .second-img {
        width: 267px;
        top: -22px;
        right: 40px;
    }

    .third-img {
        width: 337px;
        top: 107px;
    }

    .four-img {
        width: 289px;
        top: 62px;
    }

    .five-img {
        width: 323px;
        top: 45px;
    }

    .title-latest-news {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .all-news {
        display: flex;
        align-items: center;
        margin-left: 17px;
    }

    .circle {
        order: 1;
        margin-left: 17px;
    }

    .hidden-card {
        display: block;
    }

    .contain-news {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card-news {
        margin-right: 40px;
        width: 415px;
        height: 364px;
        margin-bottom: 40px;
    }

    .image-news img {
        width: 415px;
    }

    .lets-news img {
        width: 94px;
        height: 55px;

    }

    .lets-news {
        top: 217px;
    }

    .title-news {
        top: 194px;
        border-radius: 0 181px 0 0;
        width: 365px;
    }

    .title-news p {
        width: 300px;
    }

    .contain-title {
        width: 723px;
        margin-bottom: 50px;
    }

    .contain-3 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-top: 149px;
    }

    .img-benefits img:nth-child(2) {
        position: absolute;
        top: -97px;
        right: -35px;
        width: 874px;

    }

    .img-benefits img:first-child {
        width: 897px;
    }

    .title-benefits {
        width: 518px;
    }

    .dark-card-contain {
        display: flex;
        margin-top: 179px;
    }

    .dark-card {
        margin-right: 27px;
        width: 330px;
        height: 257px;
    }

    .contain-4 {
        display: flex;
        position: absolute;
        background-color: #F9F9F9;
        top: -400px;
        right: 240px;
        border-radius: 20px;
    }

    .form {
        border-radius: 0 20px 20px 0;
    }

    .six-section {
        margin-bottom: 512px;
    }

    .seven-sectiion {
        position: relative;
    }

    .back-section {
        display: block;
        background-color: #EEEEEE;
        padding-top: 168px;
        padding-bottom: 100px;
    }

    .contain-4__wrapper {
        padding: 100px;
    }

    .phone-banner img {
        top: -450px;
        right: -199px;
        width: 295px;
        height: 564px;
        transform: skewX(10deg);
    }

    .footer-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-list {
        flex-wrap: nowrap;
    }

    .last-list {
        display: block;

    }

    .footer-list ul {
        margin-right: 180px;
        width: 214px;
    }

    .footer-list ul:nth-child(1) {
        order: 3;
        margin-right: 0;
    }

    .footer-list ul:nth-child(2) {
        order: 2;
    }

    .coordination-section {
        display: flex;
        justify-content: space-between;
    }

    .logo-footer img {
        position: absolute;
        top: -153px;
        left: -282px;
        width: 515px;
    }
}